html {
    font-family: verdana;
}
/* Social Media buttons */
.fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%; 
        height: 100%;
  }
  .fa-facebook {
        background-color: #3B5898;
        color: #FFFFFF;
  }
    .fa-twitter {
        background-color: #3EA9F1;
        color: #FFFFFF;
  }
  .fa-youtube {
        background-color: #BB0801;
        color: #FFFFFF;
  }
  .fa:hover {
        opacity: 0.7;
  }
/* Phone number links */
.phoneButton {
    text-decoration: none;
    padding: 10px;
    margin: 3px;
    text-align: center;
    border-radius: 5px;
    background-color: #E62027;
    color: #FFFFFF;
    
  }

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: black;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    
}
a {
    text-decoration: none;
    color: white;
    padding: 10px;
    
}

header {
    background-color: #40B1E1;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    margin: 5px;
}
.center {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    width: 30%;
}
.right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

